server:
  port: 8082

spring:
  application:
    name: quiz-service
  config:
    import:
      optional:configserver:
  datasource:
    url: jdbc:mysql://localhost:3306/quiz_service_db
    username: root
    password: Nikhil@123
    driver-class-name: com.mysql.cj.jdbc.Driver
    initialization-mode: always
    hikari:
      maximum-pool-size: 10

  springdoc:
    api-docs:
      path: /v3/api-docs
    swagger-ui:
      path: /swagger-ui.html
      operationsSorter: method
      tagsSorter: alpha

  cloud:
    config:
      enabled: false
      import-check:
        enabled: false

eureka:
  client:
    register-with-eureka: true
    fetch-registry: true
    service-url:
      defaultZone: http://localhost:8761/eureka
